    *{
        box-sizing:border-box;
    }
    @media (min-width: 700px) {

    }

    nav{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid red;
    }
    .logo{
        float:left;
        font-size: 25px;
        padding-left: 30px;
        
    }

    nav ul{
        margin-left: 30%;
        padding-top: 16px;
    }
    nav ul li{
        display: inline;
        margin: 50px;
        font-size: 20px;
    }
    nav ul li:hover{
        background: red;
        padding: 10px;
        font-size: 22px;

    }
    section{
        margin-top: 100px;
        padding:5px;
        margin-right: 15%;
        float:left;


    }
    img{
        float: left;
        margin: 0 10px 10px 10px;
    }
    section p{
        font-size: 18px;
        line-height: 1.5em;
        float: left;
        margin: 0 10px 10px 10px;
    }
    .sidebar{
        position:absolute;
        right:0px;
        height: 60%;
        width: 15%;
        border:1px solid black;
        margin-top: 100px;
        text-align: center;
        padding-top: 20px;
    }
    .sidebar a{
        font-size: 20px;
    }
    footer{
    height: 50px;
    border-top: 1px solid black;
    width: 100%;
    position:fixed;
    bottom:0px;
    text-align: center;
    padding: 10px;
    }
    @media (max-width: 700px) {
        nav{
            text-align: center;
            height: 260px;
            width: 100%;
            border-bottom: 1px solid red;
        }
        .logo{
            font-size: 25px;
            padding-left: 30px;
            
        }
        nav ul{
            font-size: 20px;

        }
        nav ul li{
            margin: 10px;
            padding:20px;
        

        }
        section{
            width: 100%;
            text-align: center;
            padding: 25px;
        }
        section p{
            font-size: 18px;
            line-height: 1.5em;
        }
        img{
            margin-bottom: 10px;
        }

        }
.sidebar{
    text-align: center;
    border-top: 1px solid black;
    padding:10px;
    width: 100%;
    height:300px
}
.sidebar a{
    font-size: 20px;
}
footer{
    position: fixed;
    bottom:0px;
    text-align: center;
    border-top:1px solid black;
    height:5%;
    width: 100%;
    padding:10px;
    
}